.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 20px 0 30px;
  border-radius: 0 20px 20px 0;
  border-right-color: #0F3046;
  background: #F9F7F7;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

  .todo-list__title {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #112D4E;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .search__task {
    font-size: 18px;
    width: 100%;
    background: #DBE2EF;
    border: 1px solid rgba(177, 177, 177, 0.4);
    border-radius: 5px;
    padding: 5px;

    &:focus {
      outline: none;
      border-color: #112D4E;
    }
  }

  .list__task {
    width: 100%;

    .todo-list__item {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #112D4E;
      font-size: 24px;
      padding: 5px 10px;
      margin-bottom: 5px;
      border: 1px solid rgba(15, 48, 70, 0.3);;
      border-radius: 10px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

      .icons {
        display: flex;
        flex-direction: row;

        img {
          display: block;
          margin-left: 15px;
        }
      }
    }
  }

}